################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/faecafe/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/FaeLibrary/v16/.suo
/FaeLibrary/.vs/FaeLibrary/v16/.suo
/FaeLibrary/FaeLibrary/obj/Debug/FaeLibrary.csproj.AssemblyReference.cache
/FaeLibrary/FaeLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FaeLibrary/FaeLibrary/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/FaeLibrary/FaeLibrary/Properties/AssemblyInfo.cs
/.vs/faecafe/FileContentIndex
/.vs/faecafe/v17
/FaeLibrary/.vs/FaeLibrary/FileContentIndex/9919dc78-4564-4e19-9071-1bad3862b27d.vsidx
/FaeLibrary/.vs/FaeLibrary/FileContentIndex/b0179a7b-8e48-469b-bfb4-5d95a8bfe3c2.vsidx
/FaeLibrary/.vs/FaeLibrary/v17/.suo
/FaeLibrary/.vs/FaeLibrary/v17/DocumentLayout.json
/FaeUI/FaeUI/obj
/FaeLibrary/.vs/FaeLibrary/FileContentIndex/047b7e2f-7bb9-4fdd-a550-efa43cbe4543.vsidx
/FaeLibrary/.vs/FaeLibrary/FileContentIndex/4a6a0722-2b64-4fd4-bc4c-952a63cc426c.vsidx
/FaeLibrary/.vs/FaeLibrary/FileContentIndex/09066992-b221-4d8f-89b2-855c20a64f2c.vsidx
/FaeLibrary/.vs/FaeLibrary/v17/.futdcache.v2
/FaeLibrary/FaeLibrary/obj/Release
/FaeLibrary/.vs/FaeLibrary/FileContentIndex
/FaeLibrary/.vs/ProjectEvaluation
/FaeLibrary/FaeLibrary/.vs
/FaeLibrary/FaeLibrary/bin/Debug
/FaeLibrary/FaeLibrary/obj/Debug
/FaeUI/FaeUI/.vs/FaeUI/FileContentIndex
/FaeUI/FaeUI/bin/Debug/net8.0-windows
*.vsidx
/FaeLibrary/FaeLibrary/.vs/FaeLibrary.csproj.dtbcache.json
