################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/faecafe/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/FaeLibrary/v16/.suo
/FaeLibrary/.vs/FaeLibrary/v16/.suo
/FaeLibrary/FaeLibrary/obj/Debug/FaeLibrary.csproj.AssemblyReference.cache
/FaeLibrary/FaeLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FaeLibrary/FaeLibrary/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/FaeLibrary/FaeLibrary/Properties/AssemblyInfo.cs
/.vs/faecafe/FileContentIndex
/.vs/faecafe/v17
/FaeLibrary/.vs/FaeLibrary/FileContentIndex/9919dc78-4564-4e19-9071-1bad3862b27d.vsidx
/FaeLibrary/.vs/FaeLibrary/FileContentIndex/b0179a7b-8e48-469b-bfb4-5d95a8bfe3c2.vsidx
/FaeLibrary/.vs/FaeLibrary/v17/.suo
/FaeLibrary/.vs/FaeLibrary/v17/DocumentLayout.json
/FaeUI/FaeUI/obj
